# Проект: Исследование данных о венчурных фондах и инвестициях в компании-стартапы

**Задание:**

Есть базой данных, которая хранит информацию о венчурных фондах и инвестициях в компании-стартапы. Эта база данных основана на датасете Startup Investments, опубликованном на платформе для соревнований по исследованию данных Kaggle.

Нужно проанализировать данные о фондах и инвестициях и написать запросы к базе.

В качестве описания базы данных имеется:
- структура базы данных в виде ER-диаграммы;
- описание таблиц, составляющих базу данных и их полей.

ER-диаграмма

![ER-диаграмма БД.png](./ER-диаграмма%20БД.png "ER-диаграмма базы данных")

Описание полей таблиц

Таблица *acquisition*  
Содержит информацию о покупках одних компаний другими и включает следующие поля:
- первичный ключ id — идентификатор или уникальный номер покупки;
- внешний ключ acquiring_company_id — ссылается на таблицу company — идентификатор компании-покупателя, то есть той, что покупает другую компанию;
- внешний ключ acquired_company_id — ссылается на таблицу company — идентификатор компании, которую покупают;
- term_code — способ оплаты сделки:
  - cash — наличными;
  - stock — акциями компании;
  - cash_and_stock — смешанный тип оплаты: наличные и акции;
- price_amount — сумма покупки в долларах;
- acquired_at — дата совершения сделки;
- created_at — дата и время создания записи в таблице;
- updated_at — дата и время обновления записи в таблице.

Таблица *company*  
Содержит информацию о компаниях-стартапах.
- первичный ключ id — идентификатор, или уникальный номер компании;
- name — название компании;
- category_code — категория деятельности компании, например:
  - news — специализируется на работе с новостями;
  - social — специализируется на социальной работе;
- status — статус компании:
  - acquired — приобретена;
  - operating — действует;
  - ipo — вышла на IPO;
  - closed — перестала существовать;
- founded_at — дата основания компании;
- closed_at — дата закрытия компании, которую указывают в том случае, если компании больше не существует;
- domain — домен сайта компании;
- twitter_username — название профиля компании в твиттере;
- country_code — код страны, например, USA для США, GBR для Великобритании;
- investment_rounds — число раундов, в которых компания участвовала как инвестор;
- funding_rounds — число раундов, в которых компания привлекала инвестиции;
- funding_total — сумма привлечённых инвестиций в долларах;
- milestones — количество важных этапов в истории компании;
- created_at — дата и время создания записи в таблице;
- updated_at — дата и время обновления записи в таблице.

Таблица *education*  
Хранит информацию об уровне образования сотрудников компаний.
-  первичный ключ id — уникальный номер записи с информацией об образовании;
- внешний ключ person_id — ссылается на таблицу people — идентификатор человека, информация о котором представлена в записи;
- degree_type — учебная степень, например:
  - BA — Bachelor of Arts — бакалавр гуманитарных наук;
  - MS — Master of Science — магистр естественных наук;
- instituition — учебное заведение, название университета;
- graduated_at — дата завершения обучения, выпуска;
- created_at — дата и время создания записи в таблице;
- updated_at — дата и время обновления записи в таблице.

Таблица *fund*  
Хранит информацию о венчурных фондах. 
- первичный ключ id — уникальный номер венчурного фонда;
- name — название венчурного фонда;
- founded_at — дата основания фонда;
- domain — домен сайта фонда;
- twitter_username — профиль фонда в твиттере;
- country_code — код страны фонда;
- investment_rounds — число инвестиционных раундов, в которых фонд принимал участие;
- invested_companies — число компаний, в которые инвестировал фонд;
- milestones — количество важных этапов в истории фонда;
- created_at — дата и время создания записи в таблице;
- updated_at — дата и время обновления записи в таблице.

Таблица *funding_round*  
Содержит информацию о раундах инвестиций. 
- первичный ключ id — уникальный номер инвестиционного раунда;
- внешний ключ company_id — ссылается на таблицу company — уникальный номер компании, участвовавшей в инвестиционном раунде;
- funded_at — дата проведения раунда;
- funding_round_type — тип инвестиционного раунда, например:
  - venture — венчурный раунд;
  - angel — ангельский раунд;
  - series_a — раунд А;
- raised_amount — сумма инвестиций, которую привлекла компания в этом раунде в долларах;
- pre_money_valuation — предварительная, проведённая до инвестиций оценка стоимости компании в долларах;
- participants — количество участников инвестиционного раунда;
- is_first_round — является ли этот раунд первым для компании;
- is_last_round — является ли этот раунд последним для компании;
- created_at — дата и время создания записи в таблице;
- updated_at — дата и время обновления записи в таблице.

Таблица *investment*  
Содержит информацию об инвестициях венчурных фондов в компании-стартапы.
- первичный ключ id — уникальный номер инвестиции;
- внешний ключ funding_round_id — ссылается на таблицу funding_round — уникальный номер раунда инвестиции;
- внешний ключ company_id — ссылается на таблицу company — уникальный номер компании-стартапа, в которую инвестируют;
- внешний ключ fund_id — ссылается на таблицу fund — уникальный номер фонда, инвестирующего в компанию-стартап;
- created_at — дата и время создания записи в таблице;
- updated_at — дата и время обновления записи в таблице.

Таблица *people*  
Содержит информацию о сотрудниках компаний-стартапов.
- первичный ключ id — уникальный номер сотрудника;
- first_name — имя сотрудника;
- last_name — фамилия сотрудника;
- внешний ключ company_id — ссылается на таблицу company — уникальный номер компании-стартапа;
- twitter_username — профиль сотрудника в твиттере;
- created_at — дата и время создания записи в таблице;
- updated_at — дата и время обновления записи в таблице.


> Проект реализован в виде заданий, выполненных на платформе Яндекс Практикум.

### Задание 1. Определите, сколько компаний закрылось.

*SQL-запрос:*

```SQL
SELECT COUNT(id)
FROM company
WHERE status = 'closed';
```

*Результат:*

```
count
2584
```

### Задание 2. Отобразите количество привлечённых средств для новостных компаний США.

Используйте данные из таблицы `company`. Отсортируйте таблицу по убыванию значений в поле `funding_total`.

*SQL-запрос:*

```SQL
SELECT funding_total
FROM company
WHERE category_code = 'news'
  AND country_code = 'USA'
ORDER BY funding_total DESC;
```

*Результат:*

```
funding_total
6.22553e+08
2.5e+08
1.605e+08
1.28e+08
1.265e+08
...
0
```

### Задание 3. Найдите общую сумму сделок по покупке одних компаний другими в долларах.

Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.

*SQL-запрос:*

```SQL
SELECT SUM(price_amount)
FROM acquisition
WHERE term_code = 'cash'
  AND EXTRACT(YEAR FROM acquired_at) IN (2011, 2012, 2013);
```

*Результат:*

```
sum
1.37762e+11
```

### Задание 4. Отобразите имя, фамилию и названия аккаунтов людей в твиттере, у которых названия аккаунтов начинаются на 'Silver'.

*SQL-запрос:*

```SQL
SELECT first_name, last_name, twitter_username
FROM people
WHERE twitter_username LIKE 'Silver%';
```

*Результат:*

```
first_name  last_name   twitter_username
Rebecca     Silver      SilverRebecca
Silver      Teede       SilverMatrixx
Mattias     Guilotte    Silverreven
```

### Задание 5. Выведите на экран всю информацию о людях, у которых названия аккаунтов в твиттере содержат подстроку 'money', а фамилия начинается на 'K'.

*SQL-запрос:*

```SQL
SELECT *
FROM people
WHERE twitter_username LIKE '%money%'
  AND last_name LIKE'K%';
```

*Результат:*

```
id    first_name  last_name company_id  twitter_username  created_at            updated_at
63081 Gregory     Kim                   gmoney75          2010-07-13 03:46:28   2011-12-12 22:01:34
```

### Задание 6. Для каждой страны отобразите общую сумму привлечённых инвестиций, которые получили компании, зарегистрированные в этой стране.

Страну, в которой зарегистрирована компания, можно определить по коду страны. Отсортируйте данные по убыванию суммы.

*SQL-запрос:*

```SQL
SELECT country_code, SUM(funding_total)
FROM company
GROUP BY country_code
ORDER BY SUM(funding_total) DESC;
```

*Результат:*

```
country_code    sum
USA             3.10588e+11
GBR             1.77056e+10
                1.08559e+10
CHN             1.06897e+10
CAN             9.86636e+09
...
YEM             0
```

### Задание 7. Составьте таблицу, в которую войдёт дата проведения раунда, а также минимальное и максимальное значения суммы инвестиций, привлечённых в эту дату.

Оставьте в итоговой таблице только те записи, в которых минимальное значение суммы инвестиций не равно нулю и не равно максимальному значению.

*SQL-запрос:*

```SQL
SELECT funded_at,
       MIN(raised_amount) AS min_invest,
       MAX(raised_amount) AS max_invest
FROM funding_round
GROUP BY funded_at
HAVING MIN(raised_amount) <> 0
   AND MIN(raised_amount) <> MAX(raised_amount);
```

*Результат:*

```
funded_at   min_invest      max_invest
2012-08-22  40000           7.5e+07
2010-07-25  3.27825e+06     9e+06
2002-03-01  2.84418e+06     8.95915e+06
2010-10-11  28000           2e+08
2007-01-18  5.5e+06         2.3e+07
...
2010-08-06  291             1.45e+07
```

### Задание 8. Создайте поле с категориями:

- Для фондов, которые инвестируют в 100 и более компаний, назначьте категорию `high_activity`.
- Для фондов, которые инвестируют в 20 и более компаний до 100, назначьте категорию `middle_activity`.
- Если количество инвестируемых компаний фонда не достигает 20, назначьте категорию `low_activity`.

Отобразите все поля таблицы `fund` и новое поле с категориями.

*SQL-запрос:*

```SQL
SELECT *,
       CASE
           WHEN invested_companies < 20 THEN 'low_activity'
           WHEN invested_companies >= 100 THEN 'high_activity'
           ELSE 'middle_activity'
       END
FROM fund;
```

*Результат:*

id | name | founded_at | domain | twitter_username | country_code | investment_rounds | invested_companies | milestones | created_at | updated_at | case
---|------|------------|--------|------------------|--------------|-------------------|--------------------|------------|------------|------------|---
13131 | | | | | | 0 | 0 | 0 | 2013-08-19 18:46:55 | 2013-08-19 | 19:55:07 | low_activity
1 | Greylock Partners | 1965-01-01 | greylock.com | greylockvc | USA | 307 | 196 | 0 | 2007-05-25 20:18:23 | 2012-12-27 00:42:24 | high_activity
10 | Mission Ventures | 1996-01-01 | missionventures.com |  | USA | 58 | 33 | 0 | 2007-06-05 05:24:58 | 2013-10-10 22:06:31 | middle_activity
100 | Kapor Enterprises, Inc. |  | kei.com |  | USA | 2 | 1 | 0 | 2007-07-12 09:42:21 | 2008-11-21 05:41:53 | low_activity
1000 | Speed Ventures |  |  |  |  | 0 | 0 | 1 | 2008-04-13 23:52:27 | 2008-12-10 09:37:18 | low_activity
... | ... | ... | ... | ... | ... | ... | ... | ... | ... | ... | ...
1022 | Breakaway Ventures | 2006-01-01 | breakawayventures.com | bighugeboston | USA | 5 | 3 | 0 | 2008-04-25 09:32:01 | 2013-05-07 11:09:51 | low_activity

### Задание 9. Для каждой из категорий, назначенных в предыдущем задании, посчитайте округлённое до ближайшего целого числа среднее количество инвестиционных раундов, в которых фонд принимал участие.

Выведите на экран категории и среднее число инвестиционных раундов. Отсортируйте таблицу по возрастанию среднего.

*SQL-запрос:*

```SQL
SELECT CASE
           WHEN invested_companies>=100 THEN 'high_activity'
           WHEN invested_companies>=20 THEN 'middle_activity'
           ELSE 'low_activity'
       END AS activity,
       ROUND(AVG(investment_rounds)) AS avg_inv_rounds
FROM fund
GROUP BY activity
ORDER BY avg_inv_rounds;
```

*Результат:*

```
activity            avg_inv_rounds
low_activity        2
middle_activity     51
high_activity       252
```

### Задание 10. Проанализируйте, в каких странах находятся фонды, которые чаще всего инвестируют в стартапы.

Для каждой страны посчитайте минимальное, максимальное и среднее число компаний, в которые инвестировали фонды этой страны, основанные с 2010 по 2012 год включительно. Исключите страны с фондами, у которых минимальное число компаний, получивших инвестиции, равно нулю.  
Выгрузите десять самых активных стран-инвесторов: отсортируйте таблицу по среднему количеству компаний от большего к меньшему. Затем добавьте сортировку по коду страны в лексикографическом порядке.

*SQL-запрос:*

```SQL
SELECT country_code,
       MIN(invested_companies),
       MAX(invested_companies),
       AVG(invested_companies) AS avg
FROM fund
WHERE EXTRACT(YEAR FROM founded_at) IN (2010, 2011, 2012)
GROUP BY country_code
HAVING MIN(invested_companies) <> 0
ORDER BY avg DESC, country_code
LIMIT 10;
```

*Результат:*

```
country_code    min max avg
BGR             25  35  30
CHL             29  29  29
UKR             8   10  9
LTU             5   5   5
IRL             4   5   4.5
KEN             3   3   3
LBN             3   3   3
MUS             3   3   3
JPN             1   6   2.83333
```

### Задание 11. Отобразите имя и фамилию всех сотрудников стартапов.

Добавьте поле с названием учебного заведения, которое окончил сотрудник, если эта информация известна.

*SQL-запрос:*

```SQL
SELECT pl.first_name,
       pl.last_name,
       ed.instituition
FROM people AS pl
LEFT JOIN education AS ed ON pl.id=ed.person_id;
```

*Результат:*

```
first_name  last_name       instituition
John        Green           Washington University, St. Louis
John        Green           Boston University
David       Peters          Rice University
Dan         Birdwhistell    University of Cambridge
Gal         Cohen           Tel Aviv University
...
Iqram       Magdon-Ismail   U Penn
```

### Задание 12. Для каждой компании найдите количество учебных заведений, которые окончили её сотрудники.

Выведите название компании и число уникальных названий учебных заведений. Составьте топ-5 компаний по количеству университетов.

*SQL-запрос:*

```SQL
SELECT name,
       COUNT (DISTINCT ed.instituition) AS count
FROM company AS co
LEFT JOIN people AS pl ON co.id=pl.company_id
JOIN education AS ed ON pl.id=ed.person_id
GROUP BY name
ORDER BY count DESC
LIMIT 5;
```

*Результат:*

```
name                count
Google              167
Yahoo!              115
Microsoft           111
Knight Foundation   74
Comcast             66

```

### Задание 13. Составьте список с уникальными названиями закрытых компаний, для которых первый раунд финансирования оказался последним.

*SQL-запрос:*

```SQL
SELECT DISTINCT name
FROM company
WHERE status = 'closed'
AND id IN(SELECT company_id
          FROM funding_round
          WHERE is_first_round=1
            AND is_last_round=1);
```

*Результат:*

```
name
10BestThings
11i Solutions
169 ST.
1bib
1Cast
...
Carbonetworks
```

### Задание 14. Составьте список уникальных номеров сотрудников, которые работают в компаниях, отобранных в предыдущем задании.

*SQL-запрос:*

```SQL
SELECT DISTINCT pl.id
FROM people AS pl
JOIN company AS co ON pl.company_id=co.id
WHERE co.name IN(SELECT DISTINCT name
                 FROM company
                 WHERE status = 'closed'
                 AND id IN(SELECT company_id
                           FROM funding_round
                           WHERE is_first_round=1
                             AND is_last_round=1));
```

*Результат:*

```
id
62
97
98
225
226
...
12672
```

### Задание 15. Составьте таблицу, куда войдут уникальные пары с номерами сотрудников из предыдущей задачи и учебным заведением, которое окончил сотрудник.

*SQL-запрос:*

```SQL
SELECT DISTINCT person_id, instituition
FROM education
WHERE person_id IN(SELECT DISTINCT pl.id
                   FROM people AS pl
                   JOIN company AS co ON pl.company_id=co.id
                   WHERE co.name IN(SELECT DISTINCT name
                                    FROM company
                                    WHERE status = 'closed'
                                    AND id IN(SELECT company_id
                                              FROM funding_round
                                              WHERE is_first_round=1
                                                AND is_last_round=1)));
```

*Результат:*

```
person_id   instituition
349         AKI
349         ArtEZ Hogeschool voor de Kunsten
349         Rijks Akademie
699         Imperial College
779         Harvard University
...
67273       Lehigh University
```

### Задание 16. Посчитайте количество учебных заведений для каждого сотрудника из предыдущего задания.

При подсчёте учитывайте, что некоторые сотрудники могли окончить одно и то же заведение дважды.

*SQL-запрос:*

```SQL
SELECT person_id,
       COUNT(instituition)
FROM education
WHERE person_id IN(SELECT DISTINCT pl.id
                   FROM people AS pl
                   JOIN company AS co ON pl.company_id=co.id
                   WHERE co.name IN(SELECT DISTINCT name
                                    FROM company
                                    WHERE status = 'closed'
                                    AND id IN(SELECT company_id
                                              FROM funding_round
                                              WHERE is_first_round=1
                                                AND is_last_round=1)))
GROUP BY person_id;
```

*Результат:*

```
person_id   count
349         3
699         1
779         2
968         1
972         1
...
137265      1
```

### Задание 17. Дополните предыдущий запрос и выведите среднее число учебных заведений (всех, не только уникальных), которые окончили сотрудники разных компаний.

Нужно вывести только одну запись, группировка здесь не понадобится.

*SQL-запрос:*

```SQL
SELECT AVG(count)
FROM (SELECT person_id,
             COUNT(instituition)
      FROM education
      WHERE person_id IN(SELECT DISTINCT pl.id
                         FROM people AS pl
                         JOIN company AS co ON pl.company_id=co.id
                         WHERE co.name IN(SELECT DISTINCT name
                                          FROM company
                                          WHERE status = 'closed'
                                          AND id IN(SELECT company_id
                                                    FROM funding_round
                                                    WHERE is_first_round=1
                                                      AND is_last_round=1)))
      GROUP BY person_id) AS temp;
```

*Результат:*

```
avg
1.41509
```

### Задание 18. Напишите похожий запрос: выведите среднее число учебных заведений (всех, не только уникальных), которые окончили сотрудники Facebook*.

*(сервис, запрещённый на территории РФ)

*SQL-запрос:*

```SQL
SELECT AVG(count)
FROM (SELECT person_id,
             COUNT(instituition)
      FROM education
      WHERE person_id IN(SELECT DISTINCT pl.id
                         FROM people AS pl
                         JOIN company AS co ON pl.company_id=co.id
                         WHERE co.name='Facebook')
      GROUP BY person_id) AS temp;
```

*Результат:*

```
avg
1.51111
```

### Задание 19. Составьте таблицу из полей:

- `name_of_fund` — название фонда;
- `name_of_company` — название компании;
- `amount` — сумма инвестиций, которую привлекла компания в раунде.

В таблицу войдут данные о компаниях, в истории которых было больше шести важных этапов, а раунды финансирования проходили с 2012 по 2013 год включительно.

*SQL-запрос:*

```SQL
SELECT f.name AS fond_name,
       co.name AS company_name,
       fr.raised_amount
FROM investment AS inv
JOIN fund AS f ON inv.fund_id=f.id
JOIN company AS co ON inv.company_id=co.id
JOIN funding_round AS fr ON inv.funding_round_id=fr.id
WHERE co.milestones > 6
  AND EXTRACT(YEAR FROM funded_at) IN (2012, 2013);
```

*Результат:*

```
fond_name             company_name    raised_amount
SAP Ventures          OpenX           2.50112e+07
Samsung Ventures      OpenX           2.50112e+07
Index Ventures        OpenX           2.50112e+07
Presidio Ventures     OpenX           2.50112e+07
DAG Ventures          Gigya           2.5e+07
...
Advance Publication   Gigya           1.53e+07
```

### Задание 20. Выгрузите таблицу, в которой будут такие поля:

- название компании-покупателя;
- сумма сделки;
- название компании, которую купили;
- сумма инвестиций, вложенных в купленную компанию;
- доля, которая отображает, во сколько раз сумма покупки превысила сумму вложенных в компанию инвестиций, округлённая до ближайшего целого числа.

Не учитывайте те сделки, в которых сумма покупки равна нулю. Если сумма инвестиций в компанию равна нулю, исключите такую компанию из таблицы.  
Отсортируйте таблицу по сумме сделки от большей к меньшей, а затем по названию купленной компании в лексикографическом порядке. Ограничьте таблицу первыми десятью записями.

*SQL-запрос:*

```SQL
SELECT c1.name AS company_acquiring,
       ac.price_amount,
       c2.name AS company_acquired,
       c2.funding_total,
       ROUND(ac.price_amount / c2.funding_total)
FROM acquisition AS ac
JOIN company AS c1 ON ac.acquiring_company_id=c1.id
JOIN company AS c2 ON ac.acquired_company_id=c2.id
WHERE ac.price_amount <> 0
  AND c2.funding_total <> 0
ORDER BY ac.price_amount DESC
LIMIT 10;
```

*Результат:*

```
company_acquiring       price_amount    company_acquired                            funding_total   round
Microsoft               8.5e+09         Skype                                       7.6805e+07      111
Scout Labs              4.9e+09         Varian Semiconductor Equipment Associates   4.8e+06         1021
Broadcom                3.7e+09         Aeluros                                     7.97e+06        464
Broadcom                3.7e+09         NetLogic Microsystems                       1.88527e+08     20
Level 3 Communications  3e+09           Global Crossing                             4.1e+07         73
...
IAC                     1.85e+09        Ask.com                                     2.5e+07         74
```

### Задание 21. Выгрузите таблицу, в которую войдут названия компаний из категории social, получившие финансирование с 2010 по 2013 год включительно.

Проверьте, что сумма инвестиций не равна нулю. Выведите также номер месяца, в котором проходил раунд финансирования.

*SQL-запрос:*

```SQL
SELECT co.name,
       EXTRACT(MONTH FROM fr.funded_at)
FROM company AS co
JOIN funding_round AS fr ON co.id=fr.company_id
WHERE co.category_code = 'social'
  AND fr.raised_amount <> 0
  AND EXTRACT(YEAR FROM fr.funded_at) IN (2010, 2011, 2012, 2013);
```

*Результат:*

```
name              date_part
Klout             1
WorkSimple        3
HengZhi           1
Twitter           1
SocialGO          1
...
Startup Weekend   9
```

### Задание 22. Отберите данные по месяцам с 2010 по 2013 год, когда проходили инвестиционные раунды.

Сгруппируйте данные по номеру месяца и получите таблицу, в которой будут поля:
- номер месяца, в котором проходили раунды;
- количество уникальных названий фондов из США, которые инвестировали в этом месяце;
- количество компаний, купленных за этот месяц;
- общая сумма сделок по покупкам в этом месяце.

*SQL-запрос:*

```SQL
WITH 
temp1 AS(
SELECT EXTRACT(MONTH FROM fr.funded_at) AS month,
       COUNT(DISTINCT f.name) AS fund_count
FROM funding_round AS fr
JOIN investment AS inv ON fr.id=inv.funding_round_id
JOIN fund AS f ON inv.fund_id=f.id
WHERE EXTRACT(YEAR FROM fr.funded_at) BETWEEN 2010 AND 2013
  AND f.country_code = 'USA'
GROUP BY EXTRACT(MONTH FROM fr.funded_at)),

temp2 AS(
SELECT EXTRACT(MONTH FROM acquired_at) AS month,
       COUNT(acquired_company_id) AS company_count,
       SUM(price_amount) AS sum
FROM acquisition
WHERE EXTRACT(YEAR FROM acquired_at) BETWEEN 2010 AND 2013
GROUP BY EXTRACT(MONTH FROM acquired_at)
ORDER BY month)

SELECT temp1.month,
       temp1.fund_count,
       temp2.company_count,
       temp2.sum
FROM temp1 JOIN temp2 ON temp1.month=temp2.month;
```

*Результат:*

```
month   fund_count  company_count   sum
1       815         600             2.71083e+10
2       637         418             4.13903e+10
3       695         458             5.95016e+10
4       718         411             3.03837e+10
5       695         532             8.60122e+10
...
12      590         433             3.74251e+10
```

### Задание 23. Составьте сводную таблицу и выведите среднюю сумму инвестиций для стран, в которых есть стартапы, зарегистрированные в 2011, 2012 и 2013 годах.

Данные за каждый год должны быть в отдельном поле. Отсортируйте таблицу по среднему значению инвестиций за 2011 год от большего к меньшему.

*SQL-запрос:*

```SQL
WITH t2011 AS(
SELECT country_code AS country,
       AVG(funding_total) AS i2011
FROM company
WHERE EXTRACT(YEAR FROM founded_at) = 2011
GROUP BY country_code),

t2012 AS(
SELECT country_code AS country,
       AVG(funding_total) AS i2012
FROM company
WHERE EXTRACT(YEAR FROM founded_at) = 2012
GROUP BY country_code),

t2013 AS(
SELECT country_code AS country,
       AVG(funding_total) AS i2013
FROM company
WHERE EXTRACT(YEAR FROM founded_at) = 2013
GROUP BY country_code)

SELECT *
FROM t2011
JOIN t2012 USING(country)
JOIN t2013 USING(country)
ORDER BY t2011.i2011 DESC;
```

*Результат:*

```
country i2011           i2012           i2013
PER     4e+06           41000           25000
USA     2.24396e+06     1.20671e+06     1.09336e+06
HKG     2.18078e+06     226227          0
PHL     1.75e+06        4218.75         2500
ARE     1.718e+06       197222          35333.3
...
LKA     0               0               0
```